body {
  background-color: LightGrey; 
  text-align: center;
}
h1 {
  font-family: Impact, Haettenschweiler, fantasy;
  color: #8B0000; 
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: black; 
}

ul {
  background: #8B0000;
  padding: 20px;
}

ul li {
  background: #ff9999;
  margin: 5px;
}
