html {
    font-size: 12px;
}

body {
    display: grid;
  background-color: #0F0F0F; 
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white; 
  text-align: center;
}

p {
    color: white;
    font-size: 1.5rem;
}

ul {
  list-style: none;
  background: #8B0000;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

ul li {
    font-size: 1.5rem;
  list-style: none;
  background-color: rgb(255, 180, 180);
  margin: 5px;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 150%;
}

a {
  outline: none;
  text-decoration: none;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  transition: background-color 300ms, color 300ms;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  border: 0px;
  border-radius: 1px;
  font-size: 100%;
  color: black;
  background-color: white;
}

div.power {
    display: table;
    font-size: 1.5rem;
    background-color: #1F1F1F;
    color: white;
    text-align: right;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0 #1F1F1F;
}

div.power-table-row {
    display: table-row;
}

label.cell, input.cell {
    display: table-cell;
}

label {
    text-align: right;
}
